* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
}

.pulse-animate {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background-color: #2196f3;
  border-radius: 3px;
}
